@import url('https://fonts.googleapis.com/css2?family=Arbutus+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arbutus+Slab&family=Spectral+SC:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arbutus+Slab&family=Lalezar&family=Spectral+SC:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arbutus+Slab&family=Lalezar&family=Spectral+SC:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Titan+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arbutus+Slab&family=Lalezar&family=Mogra&family=Spectral+SC:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Titan+One&display=swap');

*{
    margin: 0px;
    padding: 0px;
    border: 0px;
    outline: none;
    box-sizing: border-box;
}

html, body{
    background-image: linear-gradient(to bottom right, #FF9500, #FFAD3A, #FDC77A, #FFDEAF);  
    height: 100vh;
    width: 100%;
}

@media screen and (max-width: 1200px) {
    body {
      display: table;
    }
}

.cabecalho-p1{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}

.cabecalho-p{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    padding: 15px;
    margin-left: 100px;
}

.cabecalho-p1-nome{
    padding: 15px;
    color: white;
    font-family: "Arbutus Slab", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
}

.cabecalho-p2{
    padding: 15px;
    display: flex;
}

.suporte{
    font-size: 30px;
    font-family: "Spectral SC", serif;
    font-weight: 400px;
    font-style: normal;
    color: white;
    padding: 15px;
    text-decoration: none;
}

.log-in{
    color: black;
    font-size: 30px;
    text-decoration-line: underline;
    padding: 15px;
    font-family: "Spectral SC", serif;
    font-weight: 400px;
    font-style: normal;
}

.conteudo{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.conteudo-1{
    display: flex;
}

.main-pt1{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo{
        font-family: "Lalezar", serif;
        font-weight: 400px;
        font-style: normal;
        font-size: 120px;
        color: #402900;
        padding-top: 80px;
}

.subtitulo{
    display: flex;
    font-family: "Spectral SC", serif;
    font-weight: 400px;
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    margin-top: 25px;
    color: white;
}

.faco{
    margin-left: 4px;
    color: #F7FF02;
}

.info{
    font-family: "Spectral SC", serif;
    font-weight: 400px;
    font-style: normal;
    font-size: 30px;
    text-align: center;
    padding: 40px;
    margin-top: 20px;
    color: white;
}


.btn{
    background-color: #FF0000;
    color: white;
    font-family: "Titan One", sans-serif;
    font-weight: 400px;
    font-style: normal;
    padding-inline: 60px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 30px;
    border-radius: 20px;
    margin-top: 40px;
    cursor: pointer;

    animation: pulse 1s infinite;
}

@keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.05);
    }
    100% {
      transform: scale(1);
    }
  }

.btn:hover{
    transition: 0.5s;
    color: #fff200;
}

.imagem-bot{
    padding: 50px;
    width: 700px;
    margin-right: 100px;
}

@media screen and (max-width: 1000px) {
    .imagem-bot {
      display: none;
    }
}

.pe{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.rodape-p1{
    margin-left: 45%;
}

.rodape-texto1{
    color: black;
    font-family: "Mogra", system-ui;
    font-weight: 400px;
    font-style: normal;
    text-decoration: underline;
    font-size: 20px;
    padding: 25.5px;
}

.rodape-p2{
    padding: 25.5px;
    text-align: center;
}

.rodape-texto2{
    font-family: "Lalezar", serif;
    font-weight: 400px;
    font-style: normal;
    color: #ABABAB;
}