*{
    margin: 0px;
    padding: 0px;
    border: 0px;
    outline: none;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(to bottom right, #FF9500, #FFAD3A, #FDC77A, #FFDEAF);
    background-repeat: no-repeat;
}